body{
    /* text-align: center; */
    width: 100%;
    margin: 0%;
}
#logo{
    margin-left: 10%;

}
.nav ul{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-top: 0%;
    /* padding: 15px; */
}
.nav li{
    padding: 10px;
}
.btn{
    width: 125px;
    color: rgb(170, 93, 170);
    font-weight: bolder;
    border: 1px solid pink;
}
.try{
    background-color: rgb(168, 88, 101);
    color: white;
    border: none;
}
.head{
    display: block;
    /* flex-direction: column; */
    /* float: right; */
    
}
.p{
    width: 20%;
    float: right;
}
.hello{
    font-size: 80px;
    width: 40%;
    float: right;
    /* margin-bottom: 10%; */
}

.feature{
    /* display: flex; */
    background-color: rgb(46, 46, 107);
    /* margin-bottom: 10%; */
    margin-top: 10%;
}
.feat{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 5%;
}

.triangle{
    display: flex;
    margin-left: 15%;
    padding: 25px;
}
.para-tri{
    display: flex;
    margin-top: 8%;
    /* margin-bottom: 10%; */
}
.triangle-up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 110px 173.2px 110px;
    border-color: transparent transparent rgb(97, 94, 94) transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    color: white;
    margin-right: 15%;
}
.triangle-down{
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #007bff transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(360deg);
    margin-right: 15%;
}
.ai{
    font-size: 12px;
    font-weight: bolder;
    
}
.triangle-up p  {
    font-size: 13px;
    justify-content: justify;
    top: 70px;
    left: -47px;
    position: relative;
    width: 95px;
    height: 95px;
    margin: 0px;
}
.triangle-down p {
    font-size:15px ;
    text-align: justify;
    top: 80px;
    left: -47px;
    position: relative;
    width: 95px;
    height: 95px;
    margin: 0px;
}
.contact{
    display: flex;
    flex-direction: column;
}

.testimonial{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    background-color: rgb(238, 234, 234);
    
}
.test{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin-top: 5%;
}
.test-block{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-bottom: 7%;
}
.test-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid lightsalmon;
    padding: 10px;
    margin-right: 10px;
    width: 15%;
}



.about-box{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 5%;
    width: 70%;
    margin-bottom: 5%;

}

.about-info{
    border: 1px solid black;
    margin-right: 5%;
    background-color: rgb(30, 30, 107);
    color: white;
    padding: 10px;
}
.read{
    float: right;
}
.contact{
    background-color: rgb(29, 29, 112);
}
.row{
    display: flex;
    flex-direction: row;
}
.contact-info{
    color: white;
}
.us{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fa,.far{
    padding: 25px;
    padding-bottom: 0%;
}

.contact-info div{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 0%;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* border: 1px solid red; */
    margin-bottom: 5% ;
    width: 20%;
    margin-left: 50%;
    /* padding-bottom: 20px; */
    /* float: right; */
    background-color: white;
    margin-right: 10%;
    /* margin-top: 0%; */
}
input{
    margin-bottom: 10%;
}
li{
    list-style: none;;
}
.send-btn{
    background-color: rgb(223, 32, 64);
    margin-top: 10%;
    margin-bottom: 10%;
    float: right;
    width: 75px;
}
footer{
    /* margin-top: 10%; */
    text-align: center;
    background-color: rgb(5, 5, 44);
    color: white;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 0%;
}

